<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://livestreamrecorderbackenddev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/6dfc6ccf-a52e-40c8-bb74-cc116f56ec16/resourcegroups/Livestream-Recorder/providers/Microsoft.Web/sites/LivestreamRecorderBackendDev</ResourceId>
    <UserName>$LivestreamRecorderBackendDev</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://livestreamrecorderbackenddev.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>