<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://livestreamrecorderbackend.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/6dfc6ccf-a52e-40c8-bb74-cc116f56ec16/resourceGroups/Livestream-Recorder/providers/Microsoft.Web/sites/LivestreamRecorderBackend</ResourceId>
    <UserName>$LivestreamRecorderBackend</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://livestreamrecorderbackend.scm.azurewebsites.net/</PublishUrl>
    <TargetFramework>net6.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <SkipExtraFilesOnServer>false</SkipExtraFilesOnServer>
  </PropertyGroup>
</Project>